<div class="signup-form">
    <%= form_for(@user, url: '/signup', method: 'post') do |f| %>
		<h2>Sign Up</h2>
		<p>It's free and only takes a minute.</p>
		<hr>
        <div class="form-group">
			<label>Username</label>
            <%= f.text_field :user_name, class: 'form-control', required: true, maxlength: 15 %>
        </div>
        <div class="form-group">
			<label>Full Name</label>
        	<%= f.text_field :full_name, class: 'form-control', required: true %>
        </div>
        <div class="form-group">
			<label>Email Address</label>
        	<%= f.email_field :email, class: 'form-control', required: true %>
        </div>
		<div class="form-group">
			<label>Password</label>
            <%= f.password_field :password, class: 'form-control', 
                required: true, minlength: 6, maxlength: 15,
                pattern: '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*',
                title: 'Password must contain atleast one uppercase, lowercase and number'
            %>
        </div>
		<div class="form-group">
            <%= f.submit "Sign Up", class: 'btn btn-primary btn-block btn-lg' %>
        </div>
    <% end %>
	<div class="text-center">Already have an account? <%= link_to "Login here", 'login' %></div>
</div>
