<!DOCTYPE html>
<html>
  <head>
    <title>Rails File Share</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to(root_path) do %>
        <b class="navbar-brand">Rails File Share</b>
      <% end %>
      <div class="navbar-right">
        <% if current_user %> 
          <%= link_to current_user.full_name, '/profile'  %>
          <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %> 
          <%= link_to "Login", 'login' %>
          <%= link_to "Sign Up", 'signup' %>
        <% end %> 
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
